<ion-view view-title="candidate" name="candidate-view">
    
     <ion-header-bar class="bar-assertive">
      <div class="buttons"><button class="addButton" ng-click="data.showDelete = !data.showDelete">Edit</button></div >
        <h1 class="title" >KingMaker</h1>
        <div class="buttons"><button class="addButton" ng-click="add()">Add</button></div>
      </ion-header-bar>
      
      <ion-content>
      <div class="item item-divider">
      Candidates
      </div>
      <ion-list  show-delete="data.showDelete">
        <ion-item ng-repeat="candidate in candidates">{{ candidate.name }} 
        <a><span class="badge badge-assertive" ng-click="likes()">{{ data.i }}</span></a>
        <ion-delete-button class="ion-minus-circled" ng-click="candidates.splice($index,1)"></ion-delete-button> </ion-item>
      </ion-list>
      <div class="item item-divider">
      Elections
      </div>
       <ion-list  show-delete="data.showDelete">
        <ion-item ng-repeat="election in elections">{{ election.name }} 
        
        <ion-delete-button class="ion-minus-circled" ng-click="elections.splice($index,1)"></ion-delete-button> </ion-item>
      </ion-list>
    
      </ion-content>
        <div class="tabs tabs-icon-left">
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favourite
  </a>
 <a class="tab-item">
    <i class="icon ion-email"></i>
    Email
  </a>
   <a class="tab-item">
    <i class="icon ion-person"></i>
    Volunteer
  </a>
 
  
</div>
    
    
</ion-view>
