<ion-view title="Following">

  <!--  <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear">
            Cancel
        </button>
    </div>
-->
    <!--These are the subtabs for the following screen-->
    <ion-content padding="true">

        <div class="row">
            <div class="col">
            <a class="tab-item" href="#">
                <i class="candidate"></i> Candidate
            </a>
            </div>
            <div class="col">
            <a class="tab-item" href="#">
                <i class="election"></i> Election
            </a>
            </div>
        </div>

    </ion-content>

</ion-view>